<div class="navbar ">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>
                    <button class="btn btn-primary nav-item active" routerLink='employee'>Employee Details</button>
                </li>

                <!-- <li>
                    <a href="#">Search</a>
                </li>

                <li>
                    <a href="#">Features</a>
                </li>

                <li>
                    <a href="#">Blog</a>
                </li> -->
            </ul>
        </div>
    </div>
</div>