<div class="container">
    <div class="text-style">
        <h2 class="text-center"> Employee Details</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Employee Id : {{id}}</label>

                </div>
            </div>
            <div class="col-md-6">
                <!-- <div>{{ employeeDetails | json}}</div> -->

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label> Name : {{employee.Name}}</label>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contact No - {{employee.ContactNo}}</label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Salary : {{employee.Salary}}</label>


                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Designation : {{employee.Designation}}</label>
                </div>
            </div>
        </div>


    </div>


    <!-- </form> -->
</div>